{% extends 'SisesWebClientBundle:ModuleGenerator:list.html.twig' %}

{% block title %}Directores{% endblock %}
{% block actions %}
    {% set params = {'name':'list', 'singular': 'Director'} %}
    {{render(controller('SisesWebClientBundle:Web:actions', params))}}
{% endblock %}

{% block list_header %}
    <th width="20%">Documento</th>
    <th width="50%">Nombre completo</th>
    <th></th>
{% endblock %}

{% block no_element %}
    No existen directores
{% endblock %}

{% block list_content %}
    <td data-ng-bind="single.persona.documento"></td>
    <td data-ng-bind="single.persona.nombre_completo"></td>
    <td>
        {% set params = {'name':'edit', 'singular': 'Single'} %}
        {{render(controller('SisesWebClientBundle:Web:actions', params))}}
    </td>
{% endblock %}

