<div data-sises-form="element" data-errors="errors">
    <fieldset>
        <legend>Datos del lugar</legend>
        <div data-sises-form-select-crud="cargo"
             data-label="'Seleccione cargo'"
             data-show-property="nombre"
             data-crud="cargo"></div>

        <div data-sises-form-select-crud="persona"
             data-label="'Seleccione persona'"
             data-show-property="nombre_completo"
             data-crud="persona"></div>
    </fieldset>
</div>