<div class="row">
    <div class="col-lg-7">
        <h2>Impresión de planillas</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-5">
        <fieldset>
            <legend>Asignación</legend>
            <div data-sises-form="seleccion">
                <div data-sises-form-select="asignacion"
                     data-label="'Asignación'"
                     data-options="'coordinador_entrega'"
                     data-options-label="nombre_detallado"
                     data-required="true"></div>
            </div>
            <ul>
                <li data-ng-repeat="fecha in fechas">
                    {% verbatim %}
                    <a href="{{ getLink(fecha) }}" target="_blank" data-ng-bind="fecha.display"></a>
                    {% endverbatim %}
                </li>
            </ul>
        </fieldset>
    </div>
</div>