<div data-sises-form="element" data-errors="errors">
    <fieldset>
        <legend>Datos del lugar</legend>
        <div data-sises-form-input="nombre"
             data-label="'Nombre del lugar'"
             data-required="true"></div>

        <div data-sises-form-select-crud="ubicacion"
             data-crud="ubicacion"
             data-required="true"
             data-show-property="nombre_detallado"
             data-label="'Selecciona ubicacion'"></div>
    </fieldset>
</div>