<form class="form-horizontal sises-form">
    <fieldset>
        <legend>Datos del lugar</legend>

        <div data-sises-input
             data-errors="errors"
             data-model="element.nombre"
             data-property="nombre"
             data-required="true"
             data-label="Nombre del lugar"></div>

        <div data-select-crud="ubicacion"
             data-errors="errors"
             data-model="element.ubicacion"
             data-required="true"
             data-show-property="nombre_detallado"
             data-label="Selecciona ubicacion"></div>
    </fieldset>
</form>