<td>
    <a href data-ng-bind="single.nombre" data-ng-click="changeSelectedValue(single)"></a>
</td>
<td>
    <a href data-ng-bind="single.ubicacion.nombre_detallado" data-ng-click="changeSelectedValue(single)"></a>
</td>
<th>
    <button class="btn btn-info" data-ng-click="editElement(single)">
        <i class="glyphicon glyphicon-eye-open"></i>
    </button>
</th>