<div data-sises-form="element" data-errors="errors">
    <fieldset>
        <legend>Datos del encargado</legend>
        <div data-sises-form-input="nombre"
             data-label="'Nombre de la entidad'"></div>
    </fieldset>
</div>