<td>
    <a href data-ng-bind="single.nombre" data-ng-click="select(single)"></a>
</td>
<td>
    <a href data-ng-bind="single.municipio.departamento.nombre" data-ng-click="select(single)"></a>
</td>
<td>
    <a href data-ng-bind="single.municipio.nombre" data-ng-click="select(single)"></a>
</td>