<div class="row">
    <div data-sises-form="element" data-errors="errors">
        <div class="col-lg-6">
            <fieldset>
                <legend>Datos básicos</legend>

                <div data-sises-form-select="contrato"
                     data-label="'Contrato'"
                     data-options="contratos"
                     data-options-key="id"
                     data-options-label="nombre"
                     data-required="true"></div>

                <div data-sises-form-select-crud="persona"
                     data-label="'Persona'"
                     data-required="true"
                     data-show-property="nombre_completo"
                     data-crud="persona"></div>

                <div data-sises-form-select="cargo"
                     data-label="'Cargo'"
                     data-options="cargos"
                     data-options-key="id"
                     data-options-label="nombre"
                     data-required="true"></div>
            </fieldset>
            <fieldset>
                <legend>Datos financieros</legend>

                <div data-sises-form-select-crud="entidad_financiera"
                     data-label="'Entidad financiera'"
                     data-show-property="nombre_detallado"
                     data-crud="entidad_financiera"></div>

                <div data-sises-form-input="numero_cuenta"
                     data-label="'Número de cuenta'"></div>

                <div data-sises-form-text-area="observaciones_financieras"
                     data-label="'Observaciones'"></div>
            </fieldset>
        </div>

        <div class="col-lg-6">
            <fieldset>
                <legend>Servicios contratados</legend>
                <div data-sises-form-embed-collection="element.servicios"
                     data-button-label="Agregar servicio"
                     data-table-field-nombre="Nombre"
                     data-table-field-lugar="Lugar"
                     data-table-field-valor_unitario="Valor"
                     data-table-transform-lugar="lugar,nombre_detallado"
                     data-unique-test="['nombre', 'lugar']">
                    <div data-sises-form-input="nombre"
                         data-required="true"
                         data-label="'Nombre servicio'"></div>

                    <div data-sises-form-input="valor_unitario"
                         data-required="true"
                         data-label="'Valor por unidad'"></div>

                    <div data-sises-form-select-crud="lugar"
                         data-label="'Lugar entrega'"
                         data-required="true"
                         data-show-property="nombre_detallado"
                         data-crud="lugar"></div>
                </div>
            </fieldset>
            <div data-sises-widget-archivos="element.archivos"></div>
        </div>
    </div>

</div>