<div class="row">
    <div class="col-lg-7">
        <h2>Personal</h2>
    </div>
    <div class="col-lg-5">
        <div class="actions pull-right">
            {% set params = {'name':'list', 'singular': 'Personal'} %}
            {{render(controller('SisesWebClientBundle:Web:actions', params))}}
        </div>
    </div>
</div>

<table class="table table-hover table-condensed">
    <thead>
    <tr>
        <th width="20%">Documento</th>
        <th width="20%">Cargo</th>
        <th width="50%">Nombre completo</th>
        <th></th>
    </tr>
    </thead>
    <tbody ng-if="elements.length == 0">
    <tr>
        <td colspan="2">
            No existen personal
        </td>
    </tr>
    </tbody>
    <tbody ng-if="elements.length > 0">
    <tr data-ng-repeat="single in elements">
        <td data-ng-bind="single.persona.documento"></td>
        <td data-ng-bind="single.cargo.nombre"></td>
        <td data-ng-bind="single.persona.nombre_completo"></td>
        <td>
            {% set params = {'name':'edit', 'singular': 'Single'} %}
            {{render(controller('SisesWebClientBundle:Web:actions', params))}}
        </td>
    </tr>
    </tbody>
</table>

