parameters:
    database_driver: pdo_mysql
    database_host: 127.0.0.1
    database_port: ~
    database_name: concepto_sises
    database_user: root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            es
    secret:            5c5acd96-1cbc-4c7a-a752-d40c563ad3a9

    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: true

    sass_bin: /home/julian/.rvm/gems/ruby-2.2.0/bin/sass
    assetic.ruby.bin: /home/julian/Development/dotfiles/ruby
    version: 0.6.4
