$calendar-border-color: #ccc;
$calendar-bg-color: #fff;
$calendar-hover-color: #e7e7e7;
$calendar-font-size: 14px;
$calendar-enable-color: rgb(66, 139, 202);
$day-cell-height: $calendar-font-size * 4;
$day-header-height: $calendar-font-size * 1.8;

.s-calendar {

  .s-calendar-shadow {
    position: absolute;
    width: 95%;
    height: 100%;
    background: transparentize(darken($calendar-border-color, 0.2), 0.3);
    z-index: 1;

    vertical-align: middle;
    text-align: center;
    span {
      display: inline-block;
      margin-top: 30%;
      color: white;
      font-size: $calendar-font-size * 2.2;
    }
  }

  .s-calendar-header {
    margin-bottom: 10px;
  }

  .title {
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
    font-size: $calendar-font-size * 1.1;
    line-height: 33px;
    margin: 0;
  }

  .s-calendar-body {
    display: table;
    width: 100%;
    font-size: $calendar-font-size;
    background: $calendar-bg-color;
    font-family: sans-serif;
    border-right: 1px solid $calendar-border-color;
    border-bottom: 1px solid $calendar-border-color;

    .s-week {
      display: table-row;
    }

    .s-day {
      display: table-cell;
      width: percentage(1/7);
      text-align: center;
      border-top: 1px solid $calendar-border-color;
      border-left: 1px solid $calendar-border-color;

      .s-day-cell {
        height: $day-cell-height;
        color: lighten(invert($calendar-bg-color), 30%);

        &.in-range {
          background: transparentize($calendar-enable-color, 0.8);
          &:hover {
            background: transparentize($calendar-enable-color, 0.6);
            cursor: pointer;
          }
        }

        &.active-date {
          background: transparentize($calendar-enable-color, 0.3);
        }

        .s-day-month {
          display: block;
          line-height: $day-cell-height;
        }
      }

      .s-day-header {
        font-weight: bold;
        text-transform: capitalize;
        min-height: $day-header-height;
        vertical-align: middle;
        user-select: none;
      }
    }
  }
}