@import '../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/variables';
@import '../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';
@import "../bower_components/bootstrap-chosen/bootstrap-chosen.scss";

.actions {
  margin: 20px 0 10px;
}

.sub-actions {
  margin: 5px 0 2px;
}

.main-app {
  padding-top: 40px;
}

.table {
  tbody {
    tr {
      td {
        vertical-align: middle;
      }
    }
  }
}

.pointer {
  cursor: pointer;
}

.btn-icon {
  i {
    margin: 0 20px;
  }
}

// Required star
.form-group {
  &.required {
    .control-label:after {
      content:" *";
      color:red;
      font-size: $font-size-base * 2;
      vertical-align: bottom;
      line-height: $font-size-base - 4px;
    }
  }
}