@import '../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/variables';
//@import '../bower_components/bootswatch-scss/paper/variables';
@import '../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';
//@import '../bower_components/bootswatch-scss/paper/bootswatch';

.actions {
  margin: 20px 0 10px;
}

.sub-actions {
  margin: 5px 0 2px;
}

.main-app {
  padding-top: 40px;
}

.table {
  tbody {
    tr {
      td {
        vertical-align: middle;
      }
    }
  }
}

.pointer {
  cursor: pointer;
}