<div class="row">
    <div class="col-lg-7">
        <h2>Entregas</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <fieldset>
            <legend>Asignación</legend>
            <div data-sises-form="seleccion">
                <div data-sises-form-select="asignacion_id"
                     data-label="'Asignación'"
                     data-options="'coordinador_entrega'"
                     data-options-key="id"
                     data-options-label="nombre_detallado"
                     data-required="true"></div>
            </div>
        </fieldset>

        <div data-sises-calendar="asignaciones"
             data-asignacion="seleccion.asignacion"
             data-selected-date="seleccion.now"></div>
    </div>
</div>