<div class="row">
    <div class="col-lg-7">
        <h2>Entregas</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <fieldset>
            <div data-sises-form="seleccion">
                <div data-sises-form-select="asignacion"
                     data-label="'Asignación'"
                     data-options="'coordinador_entrega'"
                     data-options-label="nombre_detallado"
                     data-required="true"></div>
            </div>
        </fieldset>

        <div data-sises-calendar="asignaciones" data-asignacion="seleccion.asignacion"></div>
    </div>
</div>