<div class="row">
    <div class="col-lg-7">
        <h2>Entregas</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <fieldset>
            <div data-sises-form="seleccion">
                <div data-sises-form-select="contrato"
                     data-label="'Asignación'"
                     data-options="asignaciones"
                     data-options-key="id"
                     data-options-label="nombre"
                     data-required="true"></div>
            </div>
        </fieldset>

        <div data-sises-calendar="asignaciones"></div>
    </div>
</div>