<div class="row">
    <div class="col-lg-7">
        <h2>Entrega de servicios</h2>
    </div>
    <div class="col-lg-5">
        <div class="actions pull-right" data-ng-if="listado.length > 0">
            <button class="btn btn-primary" data-ng-click="guardarEntrega()" data-ng-disabled="puedeGuardar()">
                <i class="glyphicon glyphicon-floppy-save"></i>
                Guardar entrega
            </button>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-5">
        <fieldset>
            <legend>Asignación</legend>
            <div data-sises-form="seleccion">
                <div data-sises-form-select="asignacion_id"
                     data-label="'Asignación'"
                     data-options="'coordinador_entrega'"
                     data-options-key="id"
                     data-options-label="nombre_detallado"
                     data-required="true"></div>

                <div data-sises-form-static="fecha.inicio"
                     data-ng-if="seleccion.asignacion"
                     data-label="'Fecha inicio'"></div>
                <div data-sises-form-static="fecha.cierre"
                     data-ng-if="seleccion.asignacion"
                     data-label="'Fecha Cierre'"></div>
                <div data-sises-form-static="getEstado()"
                     data-ng-if="seleccion.asignacion"
                     data-label="'Estado'"></div>
            </div>
        </fieldset>

        <div data-sises-calendar="asignaciones"
             data-asignacion="seleccion.asignacion"
             data-selected-date="seleccion.now"></div>
    </div>
    <div class="col-lg-7" data-ng-if="listado.length > 0">
        <fieldset>
            <legend>Listado</legend>
            <p>Fecha: <strong data-ng-bind="getCurNow()"></strong></p>
            <div class="listado-paginacion">
                <div data-pagination
                     class="pagination-sm"
                     data-total-items="pagination.total"
                     data-items-per-page="pagination.max"
                     data-ng-model="pagination.page"
                     data-ng-change="updatePagination()"
                     data-boundary-links="true"
                     data-previous-text="&lsaquo;"
                     data-next-text="&rsaquo;"
                     data-first-text="&laquo;"
                     data-last-text="&raquo;"></div>
            </div>

            <table class="table table-condensed table-bordered table-hover listado-table">
                <thead>
                <tr>
                    <th width="10%">N°.</th>
                    <th width="25%">Documento</th>
                    <th>Nombre</th>
                    <th width="15%">
                        <label title="Marcar todos">
                            <input type="checkbox" data-ng-model="fecha.all" data-ng-click="checkAll()" />
                            Todos?
                        </label>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="item in getItems()">
                    <td data-ng-bind="getNumber($index)"></td>
                    <td data-ng-bind="item.beneficiario.documento"></td>
                    <td data-ng-bind="item.beneficiario.nombre"></td>
                    <td>
                        <label>
                            <input type="checkbox" data-ng-model="entregas[item.id].estado" />
                        </label>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="listado-paginacion">
                <div data-pagination
                     class="pagination-sm"
                     data-total-items="pagination.total"
                     data-items-per-page="pagination.max"
                     data-ng-model="pagination.page"
                     data-ng-change="updatePagination()"
                     data-boundary-links="true"
                     data-previous-text="&lsaquo;"
                     data-next-text="&rsaquo;"
                     data-first-text="&laquo;"
                     data-last-text="&raquo;"></div>
            </div>
        </fieldset>
    </div>
</div>