
<form class="form-horizontal sises-form">
    <div class="alert alert-danger"
         data-ng-repeat="error in errors.errors"
         data-ng-bind="error"
         role="alert"></div>
    <div data-ng-transclude></div>
</form>