<div class="form-group">
    <label class="col-lg-4 control-label" data-ng-bind="label"></label>
    <div class="col-lg-8">
        <p class="form-control-static" data-ng-bind="property"></p>
    </div>
</div>