<fieldset>
    <legend>Adjuntos</legend>
    <button
            class="btn btn-info"
            data-pl-upload
            data-pl-filters-model="filters"
            data-pl-files-model="files"
            data-on-file-added="fileAdded()"
            data-on-file-uploaded="fileUploaded($response)"
            data-pl-progress-model="tt.percent">
        <i class="glyphicon glyphicon-cloud-upload"></i> Subir archivo
    </button>
    <div class="progress" data-ng-if="active">
        {% verbatim %}
        <div class="progress-bar progress-bar-striped"
             role="progressbar"
             aria-valuenow="{{percent}}"
             aria-valuemin="0"
             aria-valuemax="100" style="width: {{percent}}%">
            <span class="sr-only">{{percent}}% Completado</span>
        </div>
        {% endverbatim %}
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Nombre</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="archivo in elements"
            data-ng-click="edit(archivo)"
            class="pointer">
            <td>
                {# Non editable #}
                <span data-ng-bind="archivo.nombre"
                      style="padding-left: 12px"
                      data-ng-if="!editable(archivo)"></span>
                {# Editable #}
                <input data-ng-model="archivo.nombre"
                       data-ng-if="editable(archivo)"
                       data-ng-required="true"
                       class="form-control" type="text" {% verbatim %}id="{{id}}"{% endverbatim %}/>
            </td>
            <td width="20%">
                {# Non editable #}
                <button class="btn btn-warning" title="Elmina este archivo"
                        data-ng-if="!editable(archivo)"
                        data-ng-click="remove(archivo)">
                    <i class="glyphicon glyphicon-remove-sign"></i>
                </button>
                {# Editable #}
                <button class="btn btn-primary"
                        data-ng-if="editable(archivo)"
                        data-ng-click="editOff($event)">
                    <i class="glyphicon glyphicon-ok"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</fieldset>