<div class="row">
    <div class="col-lg-7">
        <div data-sises-form="element" data-error="errors">
            <fieldset>Datos básicos</fieldset>
            <div data-sises-form-input="nombre"
                 data-placeholder="'Nombre o razón social'"
                 data-required="true"
                 data-label="'Nombre empresa'"></div>
            <div data-sises-form-input="nit"
                 data-required="true"
                 data-label="'NIT'"></div>
            <div data-sises-form-email="email"
                 data-label="'Correo electrónico'"></div>
        </div>
    </div>
</div>