<td>
    <a href data-ng-bind="single.nit" data-ng-click="select(single)"></a>
</td>
<td>
    <a href data-ng-bind="single.nombre" data-ng-click="select(single)"></a>
</td>
<th>
    <button class="btn btn-info" data-ng-click="edit(single)">
        <i class="glyphicon glyphicon-eye-open"></i>
    </button>
</th>