<div class="row">
    <div class="col-lg-7">
        <h2>Liquidación de horas y servicios contratados</h2>
    </div>
    <div class="col-lg-5">
        <div class="actions pull-right">
            <button class="btn btn-primary" data-ng-click="guardar()" data-ng-disabled="puedeGuardar()">
                <i class="glyphicon glyphicon-floppy-save"></i>
                Guardar cambios
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-5">
        <fieldset>
            <legend>Recurso humano</legend>
            <div data-sises-form="seleccion">
                <div data-sises-form-select="servicio_id"
                     data-label="'Servicios'"
                     data-options="servicios"
                     data-options-key="id"
                     data-options-label="nombre_detallado"></div>

                <div data-sises-form-select="entrega_id"
                     data-label="'Entrega'"
                     data-options="'admin_entrega'"
                     data-options-key="id"
                     data-options-label="nombre_detallado"></div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-4">
                        <button class="btn btn-default">
                            <i class="glyphicon glyphicon-refresh"></i> Cargar
                        </button>
                    </div>
                </div>

            </div>
        </fieldset>
    </div>
</div>