{% extends '@SisesWebClient/layout.html.twig' %}

{% block body %}
    <div class="container" data-ng-app="sises">
        {# Main application #}
        <div data-ng-view></div>
        {# Modal #}
        <div data-sises-modal></div>
    </div>
{% endblock %}