{% extends '@SisesWebClient/layout.html.twig' %}

{% block body %}
    <div data-ng-app="sises">

        {# Menu Application #}
        <div data-sises-menu></div>

        {# Main Application #}
        <div class="container">
            <div class="main-app">
                <div data-ng-view></div>
            </div>
        </div>

        {# Modal Application #}
        <div data-sises-modal></div>
    </div>
{% endblock %}