<div class="row">
    <div class="col-lg-7">
        <h2>Nueva empresa</h2>
    </div>
    <div class="col-lg-5">
        <div class="actions pull-right">
            <button class="btn btn-primary" data-ng-click="guardarEmpresa()">Guardar</button>
            <button class="btn btn-default" data-ng-click="go('/empresas')">Cancelar</button>
        </div>
    </div>
</div>

<form class="form-horizontal">
    <fieldset>
        <legend>Datos básicos</legend>

        <div class="form-group" data-ng-class="{'has-error': hasError('nombre')}">
            <label class="col-lg-2 control-label" for="empresa_nombre">Nombre empresa</label>
            <div class="col-lg-10">
                <input placeholder="Nombre empresa"
                       data-ng-model="empresa.nombre"
                       class="form-control" type="text" id="empresa_nombre"/>
                <p class="help-block" data-ng-repeat="error in errors.nombre.errors">{{error}}</p>
            </div>
        </div>

        <div class="form-group" data-ng-class="{'has-error': hasError('nit')}">
            <label class="col-lg-2 control-label" for="empresa_nit">NIT</label>
            <div class="col-lg-10">
                <input placeholder="NIT"
                       data-ng-model="empresa.nit"
                       class="form-control" type="text" id="empresa_nit"/>
                <p class="help-block" data-ng-repeat="error in errors.nit.errors">{{error}}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-2 control-label" for="empresa_email">Correo electrónico</label>
            <div class="col-lg-10">
                <input placeholder="Correo electrónico" class="form-control" type="text" id="empresa_email"/>
            </div>
        </div>
    </fieldset>
</form>

