<div class="row">
    <div class="col-lg-4 col-lg-offset-4">
        <h1 class="text-center login-title">Ingreso a SISES</h1>
        <div class="account-wall">
            <div data-sises-form="element" data-errors="errors">
                <div data-sises-form-input="_username"
                     data-placeholder="'Digite su usuario'"
                     data-label="'Nombre de usuario'"></div>
                <div data-sises-form-input="_password"
                     data-type="'password'"
                     data-placeholder="'Digite contraseña'"
                     data-label="'Contraseña'"></div>
            </div>
            <button class="btn btn-lg btn-primary btn-block"
                    data-ng-click="login()">Ingresar</button>
        </div>
    </div>
</div>