<div class="row">
    <div class="col-lg-6">
        <form class="form-horizontal sises-form">
            <fieldset>
                <legend>Datos básicos</legend>

                <div data-sises-select
                     data-errors="errors"
                     data-model="element.persona"
                     data-property="persona"
                     data-label="Persona"
                     data-options-model="personas"
                     data-option-key="id"
                     data-option-label="nombre"></div>

            </fieldset>
        </form>
    </div>
</div>