<div class="row">
    <div class="col-lg-6">
        <div data-sises-form="element" data-errors="errors">
            <fieldset>
                <div data-sises-form-input="empresa"
                     data-label="'Nombre empresa'"></div>
            </fieldset>
        </div>
    </div>
</div>