<div class="row">
    <div class="col-lg-7">
        <h2>Beneficiarios</h2>
    </div>
    <div class="col-lg-5">
        <div class="actions pull-right">
            {% set params = {'name':'list', 'singular': 'Beneficiario'} %}
            {{render(controller('SisesWebClientBundle:Web:actions', params))}}
        </div>
    </div>
</div>

<table class="table table-hover table-condensed">
    <thead>
    <tr>
        <th>Nombre beneficiario</th>
        <th></th>
    </tr>
    </thead>
    <tbody ng-if="elements.length == 0">
    <tr>
        <td colspan="2">
            No existen beneficiarios
        </td>
    </tr>
    </tbody>
    <tbody ng-if="elements.length > 0">
    <tr data-ng-repeat="beneficiario in elements">
        <td data-ng-bind="beneficiario.nombre"></td>
        <td>
            {% set params = {'name':'edit', 'singular': 'Beneficiario'} %}
            {{render(controller('SisesWebClientBundle:Web:actions', params))}}
        </td>
    </tr>
    </tbody>
</table>

