<div class="row">
    <div class="col-lg-6">
        <form class="form-horizontal sises-form">
            <fieldset>
                <legend></legend>
                <div data-select-crud="persona"
                     data-errors="errors"
                     data-model="element.persona"
                     data-show-property="nombre_completo"
                     data-label="Selecciona persona"></div>
                <div data-select-crud="lugar"
                     data-errors="errors"
                     data-model="element.lugar"
                     data-show-property="nombre_detallado"
                     data-label="Selecciona lugar"></div>
            </fieldset>
        </form>
    </div>
</div>