<div class="row">
    <div class="col-lg-7">
        <div data-sises-form="element" data-errors="errors">
            <fieldset>
                <legend>Datos básicos</legend>

                <div data-sises-form-select="empresa"
                     data-label="'Seleccione Empresa'"
                     data-options="empresas"
                     data-options-key="id"
                     data-options-label="nombre"
                     data-required="true"></div>

                <div data-sises-form-input="nombre"
                     data-required="true"
                     data-label="'Nombre contrato'"></div>

                <div data-sises-form-input="descripcion"
                     data-required="true"
                     data-label="'Descripción contrato'"></div>

                <div data-sises-form-input="resolucion"
                     data-required="true"
                     data-label="'Resolución contrato'"></div>

                <div data-sises-form-input="valor"
                     data-required="true"
                     data-label="'Valor del contrato'"></div>

                <div data-sises-form-input="fecha_inicio"
                     data-type="'date'"
                     data-required="true"
                     data-label="'Fecha inicio'"></div>
                <div data-sises-form-input="fecha_cierre"
                     data-type="'date'"
                     data-required="true"
                     data-label="'Fecha Cierre'"></div>
            </fieldset>
        </div>
    </div>
    <div class="col-lg-5">
        <div data-sises-servicios-contratados="element.servicios"></div>
    </div>
</div>