<div class="row">
    <div class="col-lg-7">
        <h2>"<strong data-ng-bind="contrato.nombre"></strong>"</h2>
    </div>
    <div class="col-lg-5">
        <div class="actions pull-right">
            <button class="btn btn-default" data-ng-click="go('/contratos')">Volver al listado</button>
            <button class="btn btn-primary"
                    data-ng-disabled="!canSave()"
                    data-ng-click="guardarContrato()">Guardar</button>
            <button class="btn btn-danger"
                    data-ng-click="eliminarContrato()">Eliminar</button>
        </div>
    </div>
</div>
<div data-ng-include="template('_form_contrato')"></div>

