<div class="row">
    <div class="col-lg-6">
        <form class="form-horizontal sises-form">
            <fieldset>
                <legend>Datos básicos</legend>

                <div data-sises-select
                     data-errors="errors"
                     data-model="contrato.empresa"
                     data-property="empresa"
                     data-label="Empresa"
                     data-options-model="empresas"
                     data-option-key="id"
                     data-option-label="nombre"></div>

                <div data-sises-input
                     data-errors="errors"
                     data-model="contrato.nombre"
                     data-property="nombre"
                     data-placeholder="Nombre contrato"
                     data-label="Nombre contrato"></div>

                <div data-sises-input
                     data-errors="errors"
                     data-model="contrato.descripcion"
                     data-property="descripcion"
                     data-placeholder="Descripción contrato"
                     data-label="Descripción contrato"></div>

                <div data-sises-input
                     data-errors="errors"
                     data-model="contrato.resolucion"
                     data-property="resolucion"
                     data-placeholder="Resolución contrato"
                     data-label="Resolución contrato"></div>

                <div data-sises-input
                     data-errors="errors"
                     data-model="contrato.valor"
                     data-property="valor"
                     data-placeholder="En pesos"
                     data-label="Valor contrato"></div>
            </fieldset>
        </form>
    </div>
    <div class="col-lg-6">

    </div>
</div>