<fieldset>
    <legend>Servicios contratados</legend>
    <div class="sub-actions pull-right">
        <button class="btn btn-info btn-sm"
                data-ng-click="add()">
            <i class="glyphicon glyphicon-plus-sign"></i> Agregar servicio
        </button>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Total Contratado</th>
            <th>Total Costo</th>
            <th width="5%"></th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="servicio in elements"
            data-ng-click="edit(servicio)"
            class="pointer">
            <td data-ng-bind="servicio.nombre"></td>
            <td data-ng-bind="getValorBruto(servicio)|currency"></td>
            <td data-ng-bind="getValorCostos(servicio)|currency"></td>
            <td>
                <button class="btn btn-warning" title="Elmina este servicio"
                        data-ng-click="remove(servicio)">
                    <i class="glyphicon glyphicon-remove-sign"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <div data-sises-modalize="handler" data-title="Agregar servicio">
        <div data-sises-form="element" data-errors="errors">
            <div data-sises-form-input="nombre"
                 data-placeholder="'Almuerzos, Mercados, etc.'"
                 data-required="true"
                 data-label="'Nombre servicio'"></div>

            <div data-sises-form-input="dias_contratados"
                 data-type="number"
                 data-required="true"
                 data-label="'Dias contratados'"></div>

            <div data-sises-form-input="unidades_diarias"
                 data-type="number"
                 data-required="true"
                 data-label="'Unidades diarias'"></div>

            <div data-sises-form-input="valor_unitario"
                 data-required="true"
                 data-label="'Valor por unidad'"></div>

            <div data-sises-form-input="costo_unitario"
                 data-required="true"
                 data-label="'Costo por unidad'"></div>
        </div>
    </div>
</fieldset>