<div class="row">
    <div class="col-lg-6">
        <form class="form-horizontal sises-form">
            <fieldset>
                <legend>Datos básicos</legend>
                <div data-sises-input
                     data-errors="errors"
                     data-model="element.nombre"
                     data-property="nombre"
                     data-placeholder="Nombre empresa"
                     data-label="Nombre o razón social"></div>

                <div data-sises-input
                     data-errors="errors"
                     data-model="element.nit"
                     data-property="nit"
                     data-placeholder="NIT"
                     data-label="NIT"></div>

                <div data-sises-input
                     data-errors="errors"
                     data-model="element.email"
                     data-property="email"
                     data-placeholder="nombre@ejemplo.com"
                     data-label="Correo electrónico"></div>
            </fieldset>
        </form>
    </div>
    <div class="col-lg-6">

    </div>
</div>