<div class="row">
    <div data-sises-form="element" data-errors="errors">
        <div class="col-lg-6">
            <fieldset>
                <legend>Datos de la entrega</legend>

                <div data-sises-form-select="contrato"
                     data-label="'Contrato'"
                     data-options="'contrato'"
                     data-options-key="id"
                     data-options-label="nombre"
                     data-required="true"></div>

                <div data-sises-form-date="fechaInicio"
                     data-required="true"
                     data-max-date="fechaCierre"
                     data-label="'Fecha inicio'"></div>

                <div data-sises-form-date="fechaCierre"
                     data-min-date="fechaInicio"
                     data-required="true"
                     data-label="'Fecha Cierre'"></div>
            </fieldset>
        </div>
    </div>

</div>