<div class="row">
    <div class="col-lg-7">
        <h2>Actualizar entrega</h2>
    </div>
    {% include '@SisesWebClient/Partial/entrega_actions.html.twig' %}
</div>
{% include '@SisesWebClient/Partial/admin_entrega/form.html.twig' %}

