<div data-sises-form="element" data-errors="errors">
    <fieldset>
        <legend>Datos básicos</legend>
        <div data-sises-form-input="documento"
             data-label="'Documento de identidad'"
             data-required="true"></div>

        <div data-sises-form-input="nombre"
             data-label="'Nombre'"
             data-required="true"></div>

        <div data-sises-form-input="apellidos"
             data-label="'Apellidos'"
             data-required="true"></div>
    </fieldset>
</div>