<form class="form-horizontal sises-form">
    <fieldset>
        <legend>Datos básicos</legend>

        <div data-sises-input
             data-errors="errors"
             data-model="element.documento"
             data-property="documento"
             data-required="true"
             data-label="N° documento"></div>

        <div data-sises-input
             data-errors="errors"
             data-model="element.nombre"
             data-property="nombre"
             data-required="true"
             data-label="Nombre"></div>

        <div data-sises-input
             data-errors="errors"
             data-model="element.apellidos"
             data-property="apellidos"
             data-required="true"
             data-label="Apellidos"></div>
    </fieldset>
</form>