<div data-sises-form="element" data-errors="errors">
    <div class="row">
        <div class="col-lg-5">
            <fieldset>
                <legend>Datos de la liquidación</legend>

                <div data-sises-form-select="contrato"
                     data-label="'Contrato'"
                     data-options="'contrato'"
                     data-options-key="id"
                     data-options-label="nombre"
                     data-required="true"></div>

                <div data-sises-form-date="fechaInicio"
                     data-required="true"
                     data-max-date="fechaCierre"
                     data-label="'Fecha inicio'"></div>

                <div data-sises-form-date="fechaCierre"
                     data-min-date="fechaInicio"
                     data-required="true"
                     data-label="'Fecha Cierre'"></div>

                <div data-sises-form-input="diasGracia"
                     data-label="'Dias de gracia'"
                     data-required="true">
                </div>
                <div data-sises-form-static="element.estado"
                        data-label="'Estado'"></div>
            </fieldset>
        </div>
        <div class="col-lg-7"></div>
    </div>
</div>