<div data-sises-form="element" data-errors="errors">
    <div class="row">
        <div class="col-lg-5">
            <fieldset>
                <legend>Datos de la liquidación</legend>

                <div data-sises-form-select="contrato"
                     data-label="'Contrato'"
                     data-options="'contrato'"
                     data-options-key="id"
                     data-options-label="nombre"
                     data-required="true"></div>

                <div data-sises-form-date="fechaInicio"
                     data-required="true"
                     data-max-date="fechaCierre"
                     data-label="'Fecha inicio'"></div>

                <div data-sises-form-date="fechaCierre"
                     data-min-date="fechaInicio"
                     data-required="true"
                     data-label="'Fecha Cierre'"></div>

                <div data-sises-form-input="diasGracia"
                     data-label="'Dias de gracia'"
                     data-required="true">
                </div>
                <div data-sises-form-static="element.estado"
                        data-label="'Estado'"></div>
            </fieldset>
        </div>
        <div class="col-lg-7">
            <table class="table" data-ng-if="detalles.length > 0">
                <thead>
                <tr>
                    <th width="35%">Recurso humano</th>
                    <th>Servicio</th>
                    <th width="10%">Cant.</th>
                    <th width="10%" data-ng-if="estaPendiente()">Cant. (cierre)</th>
                    <th width="15%" style="text-align: right">$ Unidad</th>
                    <th width="15%" style="text-align: right">Total</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="detalle in detalles">
                    <td>
                        <strong>
                            <span data-ng-bind="detalle.nombre + ' ' + detalle.apellidos"></span>
                            <small data-ng-bind="detalle.cargo"></small>
                        </strong> <br/>

                    </td>
                    <td data-ng-bind="detalle.servicio"></td>
                    <td style="text-align: center" data-ng-bind="detalle.total"></td>
                    <td style="text-align: center" data-ng-if="estaPendiente()">
                        <span data-ng-if="!estaPendiente()"
                              data-ng-bind="detalle.cantidad"></span>
                        <label>
                            <input type="text"
                                   data-ng-if="estaPendiente()"
                                   data-ng-model="liquidacion[detalle.id].cantidad"
                                   class="form-control"/>
                        </label>
                    </td>
                    <td style="text-align: right" data-ng-bind="detalle.total|currency: '$' : 0"></td>
                    <td style="text-align: right" data-ng-bind="(liquidacion[detalle.id].cantidad * detalle.valorUnitario)|currency: '$' : 0"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>