{% extends 'SisesWebClientBundle:ModuleGenerator:list.html.twig' %}

{% block title %}Gestión de liquidaciónes{% endblock %}
{% block actions %}
    {% set params = {'name':'list', 'singular': 'Liquidacion'} %}
    {{render(controller('SisesWebClientBundle:Web:actions', params))}}
{% endblock %}

{% block list_header %}
    <th width="30%">Contrato</th>
    <th width="15%">Fecha inicio</th>
    <th width="15%">Fecha cierre</th>
    <th width="15%">Dias de gracia</th>
    <th>Estado</th>
    <th></th>
{% endblock %}

{% block no_element %}
    No existen liquidaciones
{% endblock %}

{% block list_content %}
    <td data-ng-bind="single.contrato.nombre"></td>
    <td data-ng-bind="single.fechaInicio|date"></td>
    <td data-ng-bind="single.fechaCierre|date"></td>
    <td data-ng-bind="single.diasGracia"></td>
    <td data-ng-bind="single.estado"></td>
    <td>
        {% set params = {'name':'edit', 'singular': 'Single'} %}
        {{render(controller('SisesWebClientBundle:Web:actions', params))}}
    </td>
{% endblock %}



