<div class="row">
    <div class="col-lg-7">
        <h2>Actualizar liquidación</h2>
    </div>
    {% include '@SisesWebClient/Partial/entrega_actions.html.twig' %}
</div>
{% include '@SisesWebClient/Partial/admin_liquidacion/form.html.twig' %}

