<?xml version="1.0" encoding="UTF-8"?>
<stylesheet>
    <table class="no-border">
        <tr border.color="white">
            <td border.color="white"></td>
        </tr>
    </table>
</stylesheet>
